*{
    margin: 0;
    padding: 0;
}

.result{
    filter: blur(50px);
}

.formatar-resultado{
    background-color: rgb(194, 194, 194);
    height: 50px;
    border-radius: 1em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(2);
    transition: all 0.8s;
    font-size: 1rem;
}

button{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    /*
The appearance property is used for one of two reasons:

1 To apply platform specific styling to an element 
that doesn’t have it by default

2 To remove platform specific styling to an element 
that does have it by default
    */
}

input{
    background-color: transparent!important;
}

.input{
    position: relative;
    margin-bottom: 0!important;
}

small{
    padding-top: 0!important;
    margin-top: 0!important;
}

input ~ label{
    position: absolute;
    top: 5px;
    left: 5px;
    transition: .4s;
    z-index: -5;
}

input:focus ~ label,
input:valid ~ label{
    transform: translateY(-28px);
    font-size: 0.8em;
    letter-spacing: 0.1em;
}


